<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11416905484-j81pm87aqr4o5vk795hpocltgnljg6lv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11416905484-j81pm87aqr4o5vk795hpocltgnljg6lv</string>
	<key>API_KEY</key>
	<string>AIzaSyAEO7a10mSrV5HfluMj6npbxqBAQiyxZfo</string>
	<key>GCM_SENDER_ID</key>
	<string>11416905484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jagan.ChatterBlue</string>
	<key>PROJECT_ID</key>
	<string>chatterblue-3de3b</string>
	<key>STORAGE_BUCKET</key>
	<string>chatterblue-3de3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11416905484:ios:d1e2e8741d467199704b29</string>
</dict>
</plist>